@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

li, a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color:rgb(33, 37, 41);
  padding: 0px 10%;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#nav-links {
  list-style: none;
  margin-right:auto;
}

#nav-links li {
  display: inline-block;
  color: white;
  padding: 0px 6px;
}

.button {
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 4px;
  transition-duration: 0.25s;
  cursor: pointer;
  border-radius: 0.25rem;
}

.outlined-secondary-button {
  background-color: rgb(255, 218, 106, 0);
  color: #ffda6a;
  border: 1px solid #ffda6a;
}

.outlined-secondary-button:hover {
  background-color: #ffda6a;
  color: white;
  border: 1px solid #ffda6a;
}

.outlined-primary-button {
  background-color: rgb(33, 37, 41, 0);
  color: #0f6149;
  border: 1px solid #0f6149;
}
.outlined-primary-button:hover {
  background-color: #0f6149;
  color: white;
  border: 1px solid #0f6149;
}

.filled-primary-button {
  background-color: #10674d;
  color: white;
  border: 1px solid #10674d;
}

.filled-primary-button:hover {
  background-color: rgb(33, 37, 41, 0);
  color: #0f6149;
  border: 1px solid #0f6149;
 }

#search-box {
  width: 150px;
  border-radius: 4px;
  padding: 7px;  
  margin: 8px 4px;
  border: none;
}
  
#search-box:focus {
  border: none;
  outline: 4px solid rgb(0, 110, 82);
}

@media screen and (max-width: 600px) {
  #search-box {width: 70px;}
  nav {padding: 3px 0px; margin: auto;}
}

.wrapper {
  display: flex;
  flex-flow: column;
  position: relative;
  top: 50px;
}

.wrapper {
  flex: 1 100%;
}

#hero-img {
  background: url(./res/img/slider2.jpeg);
  height: 575px;
  background-size: cover;
  background-position: 100% 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hero-text {
  font-style: italic;
  font-size: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 500px;
  width: 650px;
  color: rgb(33, 37, 41);
}

#center-button {
  text-align: center;
}

h2 {
  padding: 40px;
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

#gallery-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 9%;
  justify-content: center;
  align-items: flex-start;
}

.gallery-column {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
}

.gallery-row::after {
  content: "";
  display: table;
  clear: both;
  position: relative;
  text-align: center;
}

.scientific-name {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.common-name {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
  padding: 3px;
  border: 1px solid white;
  border-radius: 3px;
  width: 50%;
  text-align: center;
}

.easy-difficulty {
  position: absolute;
  top:9%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgb(39, 39, 30);
  padding: 3px;
  border: 1px solid rgb(39, 39, 30);
  border-radius: 3px;
  text-align: center;
}

.medium-difficulty {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: yellow;
  padding: 3px;
  border: 1px solid yellow;
  border-radius: 3px;
  text-align: center;
}

.hard-difficulty {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: red;
  padding: 3px;
  border: 1px solid red;
  border-radius: 3px;
  text-align: center;
}